.hg/
.hgignore
*.swp
*.swo
.mypy_cache/
__pycache__/
*.yaml
build/
libnaomi.a
libnaomimessage.a
libnaomisprite.a
libnaomisramfs.a
MANIFEST.in
build/
download/
dist/
sdist/
wheels/
*.egg-info/
*.egg
.netdimm_menu_settings.yaml
MANIFEST
examples/*/*.bin
tests/*.bin
